body{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    color: #365549;
}
.heading_1{
    font-size:15px;
    text-align: right;
    margin-top: -10px;
    font-style: italic;
    border-bottom: 0.1em solid #365549;
}
.heading_2{
    font-size: 50px;
    color: #365549;
}
.heading_2 .bold{
    font-weight: bolder;
}
form{
    padding: 10px;
    border-bottom: 0.1em solid #365549;
}
label{
    float: left;
    padding: 5px;
    font-size: 15px;
}
input[type=text], input[type=password], input[type=email]{
    margin-bottom: 10px;
    padding: 5px;
    width: 240px;
    border-radius: 10px;
    border: 0.1em solid #324949;
}
input[type=text]:focus ,input[type=text]:active, input[type=text]:hover, input[type=password]:focus ,input[type=password]:active, input[type=password]:hover, input[type=email]:focus ,input[type=email]:active, input[type=email]:hover{
    outline: none;
}
input[type=submit]{
    background-color: #365549;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: none;
    margin: 10px auto 5px;
}
input[type=submit]:focus ,input[type=submit]:active, input[type=submit]:hover{
    outline: none;
    background-color: #324940;
    cursor: pointer;
}
a{
    padding-top: 10px;
    float: right;
    text-decoration: none;
    font-size: 11px;
    color: #365549;
}
