<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>studyROOM-Login</title>
    <link rel="stylesheet" href="{% static 'login/index.css' %}">
</head>
<body>
    <div class="heading_1">Hi!, Welcome to</div>
    <div class="heading_2">study<span class="bold">ROOM</span></div>
    <div class="description">            <p>The study room gives you a collaborative environment to learn. You can post your questions, and others can answer your questions as well as you also can answer other questions. If you want to improve this application or contribute to this application, you can fork from my github repository. <a href="https://github.com/josiahprathaban/studyROOM" target="_blank">https://github.com /josiahprathaban /studyROOM.</a> Make use of it. Have fun!</p></div>
    <div class="buttons">
        <span class="button_dis">already have an account</span>
        <span class="button_dis">create an new account</span>
        <a href="{% url 'login:login' %}"><span class="button">LogIn</span></a>
        <a href="{% url 'login:signup' %}"><span class="button">SignUp</span></a>
    </div>
</body>
</html>