<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>studyROOM-SignUp</title>
    <link rel="stylesheet" href="{% static 'login/signup.css' %}">
</head>
<body>
    <div class="heading_2">study<span class="bold">ROOM</span></div>
    <div class="heading_1">signup </div>
    <form action="{% url 'login:success'%}" method="post">
        {% csrf_token %}
        <label>First name</label><br>
        <input type="text" name="firstname" placeholder="firstname" required><br>
        <label>Last name</label><br>
        <input type="text" name="lastname" placeholder="lastname" required><br>
        <label>Username</label><br>
        <input type="text" name="username" placeholder="username" required><br>
        <label>E-mail</label><br>
        <input type="email" name="email" placeholder="e-mail" required><br>
        <label>Password</label><br>
        <input type="password" name="password" placeholder="password" required><br>
        {% if error %}
            <label style="color: #a34040"><i>The username is already taken, try different!</i></label><br>
        {% endif %}
        <input type="submit" name="Login" value="Signup">
    </form>
    <a href="{% url 'login:login' %}">already have an account, login now?</a>
</body>
</html>