<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>studyROOM-Questions</title>
    <link rel="stylesheet" href="{% static 'room/index.css' %}">
</head>
<body>
    <div class="nav">
        <a href="{% url 'room:index' %}">
            <span class="left">
                <span class="heading_2">study<span class="bold">ROOM</span></span><br>
                <span class="heading_1">a collaborative environment</span>
            </span>
        </a>
        <span class="right">
            <form action="{% url 'room:search' %}" method="post">{% csrf_token %}
                <input type="search" name="search" placeholder="Search for a Question" required>
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </span>
    </div>
    <div class="contents" id="top">
        <div class="main-content">
            <div class="latest-question">
                <div class="head_1">Top Questions</div><br>
                {% if question_list %}
                    {% for question in question_list %}
                        <div class="question_">
                            <div class="user">{{ question.user.username }}{% if question.user.username == user.username %} (you){% endif %}<span class="pub-date">{{ question.pub_date|timesince }} ago</span></div>
                            <div class="_question"><a href="{% url 'room:to_question' question.id %}">{{ question.question_text}}</a></div>
                            {% for answer in question.answer_set.all|slice:":5" %}
                                <div class="answer_">
                                    <div class="user">{{ answer.user.username }}{% if answer.user.username == user.username %} (you){% endif %}<span class="pub-date">{{ answer.pub_date|timesince }} ago</span></div>
                                    <div class="answer">{{ answer.answer_text}}</div>
                                    <div class="edit">{% if answer.user.username == user.username %}
                                        <a href="{% url 'room:to_edit' answer.id %}">edit</a> | <a href="{% url 'room:delete_answer' answer.id%}">delete</a>
                                    {% endif %}</div>
                                <span class="like">{{ answer.votes }} votes <a href="{% url 'room:like' answer.id %}" class="like">| <i class="fas fa-fist-raised"></i></a></span>
                                <div></div>
                                </div>

                                {% empty %}
                                {% if question.user.username != user.username %}
                                <br>
                                <i><b>be the first to answer this question</b></i>
                                {% endif %}
                            {% endfor %}
                            <div class="new-answer"><br>
                                <form action="{% url 'room:update_answer' question.id %}" method="post">{% csrf_token %}
                                    <div class="head_2">Post your answer</div>
                                    <textarea class="post-ans" placeholder="Post your answer for this question" name="answer" required></textarea>
                                    <input type="submit" value="Post">
                                    <input type="reset" value="Cancel">
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="side-bar">
            <div class="profile">
                <div class="profile-pic"><i class="fas fa-user-circle"></i></div>
                <div class="profile-name">{{ user.get_full_name }}</div>
                <div class="profile-email">{{ user.email }}</div>
                <div class="profile-dis">Student at University of Kelaniya</div>
                <div class="profile-nav">
                    <nav><b>-- Your Posts --</b></nav>
                    <nav>> <a href="{% url 'room:question' %}">Questions</a></nav>
                    <nav>> <a href="{% url 'room:answer' %}">Answers&nbsp;&nbsp;</a></nav><br>
                    <nav>Settings | <a href="{% url 'login:logout' %}">{% csrf_token %}logout</a></nav><br>
                </div>

            </div>
            <p>The study room gives you a collaborative environment to learn. You can post your questions, and others can answer your questions as well as you also can answer other questions. If you want to improve this application or contribute to this application, you can fork from my github repository. <a href="https://github.com/josiahprathaban/studyROOM" target="_blank">https://github.com /josiahprathaban /studyROOM.</a> Make use of it. Have fun!</p>            <hr>Powered by<br>
            <hr>Powered by<br>
            <unknown>UNKNOWN</unknown><inc> Inc.</inc>
            <!--<img src="{% static 'room/unknown.svg' %}" width="180px">-->
        </div>
    </div>
    <a href="#top"><div class="up">^<br>up</div></a>
    <div class="footer">
        <span class="head_2">Contact us</span> |
        <a href="https://www.linkedin.com/in/josiah-prathaban/" target="_blank"><i class="fab fa-linkedin"></i></a>  |
        <a href="https://github.com/josiahprathaban" target="_blank"><i class="fab fa-github-square"></i></a>  |
        <a href="https://www.facebook.com/josiah.prathaban" target="_blank"><i class="fab fa-facebook-square"></i></a>  |
        <a href="https://www.blogger.com/profile/14730380695491700190" target="_blank"><i class="fab fa-blogger"></i></a>  |
        <i class="fab fa-whatsapp"></i> <span class="head_2">+94 76 6641 296</span>
    </div>
</body>
</html>